**Function**
- reuse of the code block
- function also called as method 
- function without arguments
- function with arguments
- function with default arguments
- function with keyword arguments
- function with global and local variable
- function with return 
- function in function

**Function without arguments**

In [1]:
# syntax
def <function name>():
   <write your lines here>

SyntaxError: invalid syntax (1232733816.py, line 2)

In [ ]:
num1 = 100
num2 = 200
add = num1+num2
print(f"the add of {num1},{num2} is {add}")

In [ ]:
def addition():
    num1 = eval(input("enter the num1:->"))
    num2 = eval(input("enter the num2:->"))
    add = num1+num2
    print(f"the add of {num1},{num2} is {add}")
addition()

In [ ]:
def sub():
    num1 = eval(input("enter the num1:->"))
    num2 = eval(input("enter the num2:->"))
    subr = num1-num2
    print(f"the sub of {num1},{num2} is {subr}")
sub()

**Note**
- Function name rules same as variable rules
  - no special charcters
  - no numbers befor
  - no spaces between words
 
- Function name should not be any keywords
- function name should not be any package name
- function name should not be any file and notebook name
- function name should not be any variable which is using inside that function
- while defing the function we does not know whether the error is there or not
- for that we need call the function
- try- except should write inside the function

In [ ]:
try:
    def sub1():  
        num1 = eval(input("enter the num1:->"))
        num2 = eval(input("enter the num2:->"))
        subr = num11-num2
        print(f"the sub of {num1},{num2} is {subr}")
except Exception as e:
    print(e)
sub1()

In [ ]:
def sub():
    try: 
        num1 = eval(input("enter the num1:->"))
        num2 = eval(input("enter the num2:->"))
        subr = num12-num2
        print(f"the sub of {num1},{num2} is {subr}")
    except Exception as e:
        print(e)
sub()

In [ ]:
def ave():
    n1 = eval(input())
    n2 = eval(input())
    n3 = eval(input())
    n4 = (n1+n2+n3)/3
    print("The average of three numbers is {}".format(n4))
ave()

In [ ]:
def sum():
    name = input("enter your name ")
    age = input()
    print("my name is {} and i'm living in hyd for past {} yrs".format(name,age))
sum()

In [ ]:
def air():
    radidus = eval(input())
    pi = eval(input())
    area = pi*radidus*radidus
    print("The area of the circle is {} ".format(area))
air()

In [ ]:
def air1():
    breadth = eval(input())
    height = eval(input())
    area = 0.5*breadth*height
    print("the breadth of triangle is {} and height is {} and the total area is {}".format(breadth,height,area))
air1()

In [ ]:
def bill1():
    bill = eval(input())
    tip = eval(input())
    total_bill = bill + tip
    print("The bill for food items is {} and tip for servies is {} the total amouth i spend is {}".format(bill,tip,total_bill))
bill1()

In [ ]:
def bill2():
    bill = eval(input())
    tip = eval(input())
    total_bill = bill + (bill*tip)/100
    print("The bill for food items is {} and tip for servies he asked to pay in percrntage is {} the total amouth i spend is {}".format(bill,tip,total_bill))
bill2()

In [ ]:
def rai():
    radidus = eval(input())
    pi = eval(input())
    area = pi*radidus*radidus*radidus
    print("The area of the circle is {} ".format(area))
rai()

In [ ]:
def rup():
    try:
        conve_rate = eval(input())
        dollars = eval(input("Enter the amount in dollars "))
        rupees = dollars*conve_rate
        print("USD dollar {} is equal to {} INR".format(dollars,rupees))
    except Exception as e:
        print(e)
rup()

In [ ]:
def pou():
    try:
        conv_fact = eval(input())
        weigth_kgs = eval(input("enter the weight in kgs "))
        weigth_in_pounds = weigth_kgs * conv_fact
        print("The total weight in pounds is {}".format(weigth_in_pounds))
    except Exception as e:
        print(e)
pou()

**Function with agurments**

In [ ]:
def add(n1,n2):
    add = n1+n2
    print(f"the sum of n1 = {n1} and n2 =  {n2} is {add}")
add(23,26)

In [ ]:
def add():
    n1 = eval(input("Enter the n1"))
    n2 = eval(input("Enter the n2"))
    adds = n1 + n2
    print(f"the sum of n1 = {n1} and n2 =  {n2} is {adds}")

def add1(n1,n2):
    addss = n1 + n2
    print(f"the sum of n1 = {n1} and n2 =  {n2} is {addss}")

def add2(n1):
    n2 = eval(input("Enter the n2"))
    addsss = n1 + n2
    print(f"the sum of n1 = {n1} and n2 =  {n2} is {addsss}")

In [ ]:
add()

add1(10,29)

add2(18)

In [ ]:
print("function with out arguments")
def all():
    sal = eval(input("enter the number"))
    tax_per = eval(input("enter the tax"))
    tax_pay = (sal*tax_per)/100
    print(tax_pay)
all()

print("function with arguments")
def all1(sal,tax_per):
    tax_pay = (sal*tax_per)/100
    print(tax_pay)
all1(50000,10)

print("function with defualt arguments")
def all2(sal,tax_per= 18):
    tax_pay = (sal*tax_per)/100
    print(tax_pay)
all2(50000)

- now onwards whenever you see any package
- always do shift + tab inside the brackets and observe
- with or without or default

In [ ]:
def add(a,b,c=29):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ = a+b+c
    print(f'the sum of a{a} , b{b} ,c{c} is {summ}')
add(23,26,29)

In [ ]:
def add(a,b,c=9):
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ = a+b+c
    print(f'the sum of a{a} , b{b} ,c{c} is {summ}')
add(23,26,290)

In [ ]:
- in above case we already provided default value c = 9
- but while we call the function c value become c = 290
- step-1: define the function: while define what is the value 9
- step-2: call the function: while call the function what is the value 290
- step-3: running the function : while running what is the value 290

In [ ]:
def add(a,b,c=400):
    c = 1000
    print('a:',a)
    print('b:',b)
    print('c:',c)
    summ = a+b+c
    print(f'the sum of a{a} , b{b} ,c{c} is {summ}')
add(23,26,300)

#while define c = 400
#while calling c = 600
#while running c = 1000 b

**Globel variables vs local variables**
- The variables outside the function is called as **Global variables**
   - Global variables can use anywhere
   - global variables can be used inside the function also outside the function
- The variable inside the function is called as **local variables**
   - local variables can be use only inside function
   - local variables can not use the outside the function

In [ ]:
#Global variables
n1= 1000
n2 = 2000
def addi():
    summ = n1+n2
    print(f"the sum of n1 {n1} and n2 {n2} is {summ}")
addi()

**how to convert local variable to global variable**
- if we want to use summ variable outside the function
- then intialise summ as global also using global keyword

In [ ]:
#Local variables
def addi1():
    n1= 1010
    n2 = 2020
    global summ1
    summ1 = n1+n2
    print(f"the sum of n1 {n1} and n2 {n2} is {summ1}")
addi1()

In [ ]:
summ1

**unbound local error**
- In below example s is not intilised
- we might think name error will come
- but inside function we will get unbound local error

In [ ]:
def add1():
    n1=100
    s1=summ22+n1
    print(s1)
add1()

In [ ]:
def add1():
    n1=100
    summ22=summ22+n1
    print(s1)
add1()

In [ ]:
def add3():
    summ4=100
    n1=200
    summ4=summ4+n1
    print(summ4)
add3()

In [ ]:
def avg(a,b,c):
    global Add ,Avg1
    Add = a+b+c
    Avg1 = (Add)/3
    print(Add,Avg1)
avg(23,34,56)

In [ ]:
Add

In [ ]:
Avg1

In [14]:
a = 2023
if a%4 == 0 and a%100 !=0 or a%400 == 0:
    print("hi")
else:
    print("not")

not

In [7]:
def even_odd():
    n1= int(input())
    if n1%2==0:
        print(f"{n1} is even number")
    else:
        print(f"{n1} is odd number")
even_odd()

 26

26 is even number

In [9]:
def even_odd(n2):
    if n2%2==0:
        print(f"{n2} is even number")
    else:
        print(f"{n2} is odd number")
even_odd(25)

25 is odd number

In [10]:
def even_odd(n3=109):
    if n3%2==0:
        print(f"{n3} is even number")
    else:
        print(f"{n3} is odd number")
even_odd()

109 is odd number

 **Parameter vs Variable**

- Parrameter also called as a Arguments
   - This always inside the function brackets
- Variables either outside the function or inside the function

**return**
- return means function is giving something
- we know that local variables can not use outside the function
- in order to use local variables outside the function, we have two methods
- global
- return

In [16]:
def add():
    a=10
    b=20
    c=a+b
    return(c,b)
    
c=add()

In [17]:
c

(30, 20)

In [18]:
def avg(a,b,c):
    summ1=a+b+c
    Avg = (summ1)/3
    return(Avg,summ1)
t=avg(2,3,4)

In [19]:
t

(3.0, 9)

In [27]:
def even_odd():
    n1= int(input())
    if n1%2==0:
        print(f"{n1} is even number")
        return True
    else:
        print(f"{n1} is odd number")
        return False
    
    
h=even_odd()
print(h)

 4567

4567 is odd number
False

In [26]:
h

True

**function in function**

In [29]:
def greet1():
    print("hi this sumanth")
def greet2():
    print("good morning")

greet1()
greet2()

hi this sumanth
good morning

In [30]:
def greet1():
    print("hi this sumanth")
def greet2():
    print("good morning")

greet2()
greet1()

good morning
hi this sumanth

In [34]:
def greet1():
    print("hi this sumanth")
    greet2()
def greet2():
    print("good morning")

greet2()

good morning

In [35]:
def greet1():
    print("hi this sumanth")
    greet2()
def greet2():
    print("good morning")

greet1()

hi this sumanth
good morning

In [41]:
def add(n):
    if n == 0:
        return(0)
    else:
        return(n+add(n-1))
add(5)

15

In [45]:
def sum1():
    n = int(input())
    for i in range(1,n+1):
        print(i,end="")
sum1()

 5

12345

In [ ]:
Q1). Factorial recursion 5! = 5*4*3*2*1
Q2). Calcultor
Q3).

In [3]:
def fact(n):
    if n == 0:
        return 1
    else:
        return(n*fact(n-1))
fact(5)

120

In [13]:
def addd(a,b):
    return (a+b)
def sub(a,b):
    return(a-b)
def mul(a,b):
    return(a*b)
def div(a,b):
    return(a/b)

print("Select 1 for add")
print("Select 2 for sub")
print("Select 3 for mult")
print("select 4 for div")

enter = int(input("Enter the number 1 to 4"))

a=eval(input("enter the number to a"))
b=eval(input("enter the number to b"))
def main():
    if enter == 1:
        print(f"The addition of a {a} and b {b} is ")
        return add(a,b)
    elif enter ==2:
        print(f"The subration of a {a} and b {b} is ")
        return sub(a,b)
    elif enter ==3:
        print(f"The multiplication of a {a} and b {b} is ")
        return mul(a,b)
    elif enter == 4:
        print(f"The div of a {a} and b {b} is ")
        return div(a,b)
    else:
        print("enter the valid number")
main()

Select 1 for add
Select 2 for sub
Select 3 for mult
select 4 for div

Enter the number 1 to 4 4
enter the number to a 56
enter the number to b 23

The div of a 56 and b 23 is

2.4347826086956523

**1. Write a Python function to find the maximum of three numbers.**

In [5]:
def max(x,y):
    if x>y:
        return x
    return y
def max_three(x,y,z):
    return max(x,max(y,z))
max_three(4,9,33)

33

**2. Write a Python function to sum all the numbers in a list.**

In [8]:
def all_sum():
    this = [2,8,5,0,2]
    total =0
    for i in this:
        total += i
    return total
all_sum()

17

**3. Write a Python function to multiply all the numbers in a list.**

In [12]:
def mul_num():
    this_list = [6,3,9,4,6]
    total1 = 1
    for i in this_list:
        total1 *= i
    return total1
mul_num()

3888

**4. Write a Python program to reverse a string.**

In [16]:
def rev():
    st="1234abcd"
    st1 = st[::-1]
    return st1
rev()

'dcba4321'

**Write a Python function to check whether a number falls within a given range**

In [30]:
def num_fall(num1):
    if num1 in range(1,100):
        print("the numbers are in range")
    else:
        print("the number is not range")
    return
num_fall(989)

the number is not range

**7. Write a Python function that accepts a string and counts the number of upper and lower case letters.**

In [7]:
def cas():
    str = "SuMaNtH VenKata"
    count_of_upper = str.isupper
    s = count_of_upper
    count_of_lower = str.islower
    print(f"The upper case letters are {s}")
    print(f"The lower case letters are {count_of_lower}")

cas()

The upper case letters are <built-in method isupper of str object at 0x00000140B2C76230>
The lower case letters are <built-in method islower of str object at 0x00000140B2C76230>